body {
  font-family: "Arial", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2 {
  color: #0b0c0e;
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: #be77e4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 30rem;
  margin-left: 30rem;
}

li:hover {
  background-color: #77d5e4;
}

li span {
  font-weight: bold;
}

li.n-list2 {
  margin-left: 5rem;
}

li.n-list3 {
  margin-left: 5rem;
}

li.n-list1 {
  margin-left: 0rem;
}


div.form {
  border: solid;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #3195f9;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form input[type="text"] {
  width: calc(30% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 2px solid grey;
  border-radius: 5px;
  margin-left: 2rem;
  background-color: white;
}

form button {
  background-color: #77d5e4;
  margin-top: 10px;
  margin-left: 42rem;
}

header {
  background-color: #77d5e4;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecf0f1;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

header nav ul li a:hover {
  color: #082489;
  text-decoration: none;
}

p.error {
 margin-left: 10rem;
  color: red;
}


form div.name1{
  margin-left: 32rem;
}


@media (max-width: 414px) {
  body {
  font-family: "Arial", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2 {
  color: #0b0c0e;
  text-align: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: #be77e4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 30rem;
  margin-left: 30rem;
}

li:hover {
  background-color: #77d5e4;
}

li span {
  font-weight: bold;
}

div.form {
  border: solid;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #3195f9;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form input[type="text"] {
  width: calc(30% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 2px solid grey;
  border-radius: 5px;
  margin-left: 2rem;
  background-color: white;
}

form button {
  background-color: #77d5e4;
  margin-top: 10px;
  margin-left: 42rem;
}

header {
  background-color: #77d5e4;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecf0f1;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

header nav ul li a:hover {
  color: #082489;
  text-decoration: none;
}

p.error {
  margin-left: 10rem;
  color: red;
}

form div.name1 {
  margin-left: 32rem;
}

/* Version téléphone */
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  .container {
    padding: 10px;
    width: 100%;
    max-width: 100%;
  }


  li {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    font-size: 14px;
  }

  form input[type="text"] {
    width: calc(100% - 20px);
    margin-left: 0;
    margin-bottom: 10px;
  }

  form button {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  header nav ul {
    flex-direction: column;

  }

  p.error {
    margin-left: 0;
    font-size: 14px;
  }

  form div.name1 {
    margin-left: 0;
  }
}


form.text-field-with-button{
      margin-left: 4rem;
}



header {
          margin-bottom: 20px;
        margin-left: -2rem;
        margin-top: -2rem;
        margin-right: -6rem;
}


ul.liste{
  margin-left: 4rem;
}

li.n-list1{
      width: 7rem;
      height: 3rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

li.n-list2{
      width: 7rem;
    margin-left: 10.5rem;
    margin-top: -6.3rem;
}

li.n-list3{
      width: 7rem;
    margin-left:20rem;
    margin-top: -6.2rem;
}

ul.ul{
  margin-left: 4rem;
}

h1,
h2 {
  margin-left: 5rem;
}

h1.checkpoint{
  margin-left: 0.5rem;
}
  }